<div class="container mt-5">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/navigator"
            [queryParams]="{ tab: '0' }"
            [class.active]="currentActiveParam === '0'"
            >Income</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/navigator"
            [queryParams]="{ tab: '1' }"
            [class.active]="currentActiveParam === '1'"
            >Outcome</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/navigator"
            [queryParams]="{ tab: '2' }"
            [class.active]="currentActiveParam === '2'"
            >Loans</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/navigator"
            [queryParams]="{ tab: '3' }"
            [class.active]="currentActiveParam === '3'"
            >Investments</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center" scope="col">Name</th>
          <th class="text-center" scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let transaction of filteredTransaction">
          <tr>
            <td class="text-center">{{ transaction.name.first }}</td>
            <td class="text-center">{{ transaction.amount }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
